@model Reserv

<form method="post">
    <div class="container">
        <div class="row pb-2">
            <h2>Make Reservation</h2>

        </div>
        <div class="mb-3">
            <label asp-for="CustomerName"></label>
            <input asp-for="CustomerName" class="form-control" />
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Time"></label>
            <input asp-for="Time" class="form-control" />
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Confirm</button>
        <a asp-controller="Reservation" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back</a>

    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>

    }
}
