@model IEnumerable<Menu>

@{
    ViewData["Title"] = "Menu Page";
}

<h1 class="ms-4">What do you want to eat today?</h1>

<div class="container mt-4">
    <div class="row">
        <form asp-action="Create" method="post">
            <div class="col">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Item Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Note</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            int i=0;
                        }
                        @foreach (var menuItem in Model)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" name="items[@i].ItemName" value="@menuItem.ItemName" />
                                    <input type="checkbox" name="items[@i].IsSelected" />
                                </td>
                                <td>
                                    @menuItem.ItemName
                                    <input type="hidden" name="items[@i].ItemName" value="@menuItem.ItemName" />
                                </td>

                                <td>
                                    @menuItem.ItemPrice
                                </td>
                                <td style="width: 10%">
                                    <input type="number" name="items[@i].Quantity" value="0" min="0"
                                        class="form-control" />
                                </td>
                                <td>
                                    <textarea cols="10" name="items[@i].Note" class="form-control"></textarea>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary">Confirm Order</button>
            </div>
        </form>
    </div>
</div>