@{
    ViewData["Title"] = "Home Page";
}

<div class="container bg-image d-flex align-items-center justify-content-center">
    <div class="text-white text-center">
        <h1 class="display-4 fw-bold">Welcome to Relaxing Koala</h1>
        <p class="fw-semibold lead">We sell fresh Australian food here</p>
        <a class="btn btn-success" asp-area="" asp-controller="Menu" asp-action="Index">Start Order</a>
    </div>
</div>
